// 色
$main-color: #4EB2D0; // メインカラー
$sub-color: #1C5C83 ; // サブカラー
$base-color: #EBF3F6; //　ベースカラー
$text-color: #000; // テキストカラー
$cBlue: #65A4E0;
$cRed: #FF4D2B;
$cWhite: #fff;
$cLiteWhite: #F5F5F5;
$cGray: #707070; // グレー
$cLightGray: #d4d4d4;
$cDarkGray: #939393;

// グラデーション
$cGradient-mvText: linear-gradient(123deg, #F6BC42 23.19%, #FF5C00 76.81%);
$cGradient-mvBox: linear-gradient(143deg, #FCE3E4 5.3%, #00A2E8 94.7%);
$cGradient1: linear-gradient(90deg, #599AE0 0%, #B7E7DC 100%);
$cGradient1-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(90deg, #599AE0 0%, #B7E7DC 100%);
$cGradient2: linear-gradient(93deg, #3EC4A5 5.67%, #52EDAD 94.33%);
$cGradient2-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(93deg, #3EC4A5 5.67%, #52EDAD 94.33%);
$cGradient3: linear-gradient(to bottom, #FF6584,#79A2DC);
$cGradient-tag1: linear-gradient(89deg, #EA883C 0.48%, #F4E061 99.52%);
$cGradient-tag2: linear-gradient(89deg, #FF6584 0.48%, #FAC0C4 99.52%);
$cGradient-number1: linear-gradient(154deg, #ED9D57 3.27%, #F4D95F 96.73%);
$cGradient-number2: linear-gradient(153deg, #FF6E8B 2.88%, #FBB9BF 97.12%);
$cGradient-number3: linear-gradient(338deg, #BBEBDC 4.85%, #79A2DC 95.15%);
$cGradient-course1: linear-gradient(to right, #f66584,#fbccd0);
$cGradient-course2: linear-gradient(to right, #b0e9ee,#6777e8);
$cGradient-course3: linear-gradient(to right, #ebde43,#6be8a5);
$cGradient-contact: linear-gradient(177deg, #98D5D9 1.53%, #4EB2D0 98.47%);
$cGradient-contact-bg: linear-gradient(to right, #6ca9df 0%, #a4d8dc);

// フォント
$ff-base: "Noto Sans JP", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; // 日本語標準
$fz-base: 1.6rem; // ベースフォントサイズ
$fw-base: 400; // ベースフォントウェイト
$lh-base: 1.6; // ベース行間

// レイアウト
$inner-width: 1100px; // インナー幅サイズ
$sp-width: 769px; // スマホサイズ

// ブレークポイント
$breakpoints: (
  // スマホ以下の場合
  "sp": "screen and (max-width: #{$sp-width - 1px})",
  "hover": "screen and (min-width: #{$sp-width})",
  // タブレット以下の場合
  "tab": "screen and (max-width: #{$inner-width - 1px})",
  // タブレット以上の場合
  "pc": "screen and (min-width: #{$inner-width})",
  // 補助
  "mobile": "screen and (max-width: 400px)",
  "mobileLL": "screen and (max-width: 600px)",
  "tabletM": "screen and (max-width: 960px)",
  "tabletL": "screen and (max-width: 1024px)",
  "tabletLL": "screen and (max-width: 1080px)",
  "note": "screen and (max-width: 1280px)",
  "desktopS": "screen and (max-width: 1440px)",
  "desktopM": "screen and (max-width: 1560px)"
);

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);
