@use "../global" as g;

.l-inner {
    max-width: 144rem;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-right: auto;
    margin-left: auto;
    @include g.mq(sp) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &--large {
        @extend .l-inner;

        padding-left: 11rem;
        padding-right: 11.5rem;
    }
}
