@use '../global' as g;

.c-sns {
    width: fit-content;
    &--white {
        @extend .c-sns;
        .c-sns__read {
            position: relative;
            @include g.mq(sp) {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: normal;
                color: g.$cWhite;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 1em;
                width: 2px;
                background-color: g.$cWhite;
            }
            &::before {
                left: -1rem;
                transform: translateY(-44%) rotate(-32deg);
            }
    
            &::after {
                right: -1rem;
                transform: translateY(-44%) rotate(32deg);
            }
        }

        .c-sns__x {
            width: 2.5rem;
            height: 2.6rem;
        }
    
        .c-sns__insta {
            width: 2.8rem;
            height: 2.8rem;
        }
    
        .c-sns__youtube {
            width: 3.2rem;
            height: 2.2rem;
        }
    }

    &__read {
        position: relative;
        display: flex;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;

        @include g.mq(sp) {
            font-size: 2rem;
            font-weight: 500;
            line-height: normal;
            color: g.$text-color;
            display: flex;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 1em;
            width: 2px;
            background-color: g.$text-color;
        }
        &::before {
            left: -1rem;
            transform: translateY(-44%) rotate(-32deg);
        }

        &::after {
            right: -1rem;
            transform: translateY(-44%) rotate(32deg);
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 1rem;
    }

    &__item {
        //
    }

    &__x {
        width: 3.5rem;
        height: 3.6rem;
    }

    &__insta {
        width: 3.5rem;
        height: 3.6rem;
    }

    &__youtube {
        width: 3.9rem;
        height: 2.8rem;
    }

    &__link {
        transition: opacity .3s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            @include g.mq(hover) {
                opacity: .7;
            }
        }
    }

    &__icon {
        //
    }
}
