@use '../global' as g;

.c-secondHeading {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: normal;
    color: g.$text-color;
    text-align: center;
    margin-left: -2rem;
    @include g.mq(sp) {
        font-size: 2.4rem;
        margin-left: 0;
    }

    &--fzLarge {
        @extend .c-secondHeading;

        font-size: 4rem;
        margin-left: 0;
        @include g.mq(sp) {
            font-size: 3.2rem;
            margin-left: -1.4rem;
        }
    }
    &--fzLargeSP {
        @extend .c-secondHeading;

        @include g.mq(sp) {
            font-size: 3.2rem;
            margin-left: -1.4rem;
        }
    }
}